@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

*{
  margin: 0;
  box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
}

.pt-serif-font{
  font-family: "PT Serif", serif;
}

.bg-image{
  background-image: url('assets/images/main_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100dvh;
}